*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,body {
    background-color: #0a0a0a;
}

.form-container{
    position:relative;
    /* left:20%; */
    width:100%;
    height:100vh;
    background-color:#f8bb38;
}

.contact-form{
    position:absolute;
    top:5%;
    left:10%;
    width:80%;
    height:600px;
}

input,textarea{
    width:100%;
    margin-top:2rem;
    border:none;
    border-bottom: 1px solid black;
}

.submit{
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: #fab289;
    cursor: pointer;

}

.submit:hover{
    opacity:0.6;
}
.logo{
    float:left;
    position: sticky;
    height:20px;
    width:20px;
    z-index: 1;
}
#name,#email,#subject,#message{
    background-color: #f8bb38;
}
h1{
    font-weight: bolder;
}